body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fff1c1, #ffd6e8);
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.login-card h1 {
  color: #f7b500;
}

.login-card p {
  color: #d63384;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.login-card button {
  background: #f7b500;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}
#error-msg {
  display: none;
  color: #e63946;
  margin-top: 10px;
}
